<!DOCTYPE html>
<html>
  <head>
    <title>Let's play Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/custom.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/new_form"><strong>BLACKJACK V1.0</strong></a></li>
              <%#<li><a href="/bet">Bet</a></li>%>
            </ul>
            <ul class='nav navbar-nav navbar-right pull-right'>
              <li id='logout'><a href="/logout">Logout</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
    <%if @info %>
      <div class="alert alert-info"><%=@info%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
