<div class='hero-unit top'>
  <div class='row'>
    <h3 class='center'><%= @message %></h3>
  </div>
    <form action='/new_form' method='post' class='form-horizontal'>
      <div class='control-group'>
        <label class='control-label text-center'>Name</label>
      <div class='controls'>
      <input type='text' name='player_name'>
    <div>
    </br>
      <input type='submit' class='btn btn-primary'>
      </div>
  </form>
</div>