<div class='hero-unit'>
<div class='row'>
<h3 class=><%= @message %></h3>
</div>
<form action='/views/form' method='post' class='form-horizontal'>
  <div class='control-group'>
    <label class='control-label text-center'>Name</label>
    <div class='controls'>
<input type='text' name='player_name'>
<div>
<br>
<input type='submit' class='btn btn-primary'>

</form>
</div> 
</div>