form#hit_button {
  float: left;
  margin-right: 10px;
  padding-bottom: 10px;
}

form#stay_button {
  float: left;
  padding-bottom: 10px;
}

img.card_display {
  margin: 10px 10px 3px 10px;
}

div#logout {
  float: right;
}

body {
  background-color: #27ae60;
}

div.card_display {
  margin: 0 auto;
}

.top {
  margin-top: 10px;
}

.center {
  text-align: center;
}